@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #34d399;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Michroma', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
